/* Style for the h1*/
.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
p {
    font-weight: bolder;
    text-align: center;
}

 h1,h2 {
     color: darkslategrey;
     text-decoration: underline;
}

 body {
     background-color: bisque;
     background-image:url("../img/pic.jpg");
     font-family: "Apple Braille" ;
 }

 li {
     list-style: upper-alpha;
     font-weight: bold;

 }

td, tr,th {
    border: 1px solid black;
    font-size: 18px;
    font-weight: bolder;
}
table {
    border-collapse: collapse;
    width: 100px;
}
 a:link {
     color: cornflowerblue;
 }

 a:visited {
     color: purple;
 }
  a:hover {
      color: black;
  }