
body {
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/3768/sky-sunny-clouds-cloudy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    font-family: "American Typewriter";
}

#map {
    position: relative;
    height: 25em;
    width: 100%;
}

h1, p {
    color: navajowhite;
}
.card {
    font-size: .7em !important;
}
#card {
        height: 4em;
    }

